.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #eeeeee;
    background-image: url('../images/bg-up.png'), url('../images/bg-down.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}