@media only screen and (max-width: 912px){

    .form-container{
        display: flex;
        flex-direction: column;
        margin-top:80px;
        padding: 20px;
        border-radius: 0 100px 100px 0;
        width: 270px;
        position: relative;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #fff;
    }
    .form-container input{
        padding: 10px 20px 10px 20px ;
        border:none;
        width: 160px;
    }
    #repeatPassword{
        border-bottom: none;
    }

    .submit{
        transform: scale(0.1);
        position: absolute;
        left: 50px;
        top: -167px;
        color:green;
        opacity: 100%;
        border-radius: 50%;
    }
    .input-container{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.277);
        width: 240px;
    }
   
   
    input:focus, textarea:focus, select:focus{
        outline: none;
        background-color: none;
    }
    input::placeholder {
        font-size: 18px;
    }
    .btn-container{
        position: relative;
    }
    .login{
        position: absolute;
        height: 40px;
        width: 120px;
        left: 260px;
        bottom:100px;
        border: none;
        background-color: #fff;
        border-radius: 50px 0 0 50px;
        font-size: 20px;
        color: red;
        font-weight: bold;
    }
   
   
}